<span class="accio_compra" data-action="compra">
	<a href="http://teatreneu.com/impro-landing.php?utm_source=blink_we&utm_medium=fbk&utm_content=impros&utm_campaign=impros_semana_loca" target="blank"><%= t "botons.comprar" %></a>
</span>