<footer>
  <a href="index.html"><img src="images/logo_footer.png" alt="Logo Planeta Impro"></a>
  <section id="sections">
    <ul>
      <li><span class="caracters-especials"> © </span>Planeta Impro 2014<span class="separa" >|</span></li>
      <li><a href="contacto.html">Contacto</a> (<span class="tel">Tf. 608 219 835</span>)<span class="separa" >|</span></li> 
      <li><a href="legal.html">Aviso legal</a><span class="separa" ></span></li>
      <!-- <li>Desarrollo: enbrut</li> -->
    </ul>
  </section>
  <section id="social_footer">
    <ul data-category="social">
      <li id="facebook2" data-action="facebook"><a href="https://www.facebook.com/PLANETAIMPRO.OFICIAL" target="blank"></a></li>
      <li id="twitter2" data-action="twitter"><a href="https://twitter.com/PLANETAIMPRO" target="blank"></a></li>
      <li id="youtube2" data-action="youtube"><a href="http://www.youtube.com/user/PlanetaimproTV" target="blank"></a></li>
    </ul>
  </section>
</footer>