<header id="mainheader">
	<div id="idioma">
		<ul>
			<li><a>Català</a> | </li>
			<li><a>Castellano</a> | </li>
			<li><a>English</a></li>
		</ul>
	</div>
	<div id="social">
		<ul data-category="social">
			<li id="facebook" data-action="facebook"><a href="https://www.facebook.com/PLANETAIMPRO.OFICIAL" target="blank"></a><li>
			<li id="twitter" data-action="twitter"><a href="https://twitter.com/PLANETAIMPRO" target="blank"></a></li>
			<li id="youtube" data-action="youtube"><a href="http://www.youtube.com/user/PlanetaimproTV" target="blank"></a></li>
		</ul>
	</div>
	<nav role="navigation" id="menu" class="nav-collapse">
		<ul>
			<li><a href="companyia.html"><span>Compañía</span></a></li>
			<li><a><span class="active">Espectáculos</span></a></li>
			<li><a href="eventos.html"><span>Eventos</span></a></li>
			<li><a href="formacion.html"><span>Formación</span></a></li>
			<li><a href="prensa.html"><span>Prensa</span></a></li>
			<li><a href="contacto.html"><span>Contacto</span></a></li>
		</ul>
	</nav>	
	<h1>
		<a href="index.html"><img src="images/logo_planeta_impro.png" alt="Logo Planeta Impro"></a>
	</h1>
</header>