<h1>
	<a href="<%= lang_root_path %>">
		<%= image_tag 'logo_planeta_impro.png', alt: "Logo Planeta Impro" %>
		<!-- <img src="/images/logo_planeta_impro.png" alt="Logo Planeta Impro"> -->
	</a> 
</h1>