---
title: Companyia Planeta Impro
---
<section id="companyia">
	<h2><%= t "menu.companyia" %></h2>
	<img class="companyia_img" src="/images/companyia/companyia_01-2x.jpg" alt="Companyia Planeta Impro títulos">
	
	<article id="companyia_bio">
		<div id="companyia_img">
			<img src="/images/companyia/companyia_02-1x.jpg" alt="Companyia Planeta Impro títols">
		</div>
		<p>Planeta Impro neix el 2001, amb Jose L. Adserías y Judit Martín al capdavant. Són pioners de la tècnica <strong>Impro a Barcelona</strong>.</p>
		<p>La investigació constant de la tècnica d’improvisació teatral els permet créixer fins a trobar un llenguatge propi capaç de combinar l’espontaneïtat i l’humor amb històries plenes de vida i emocions. </p>
		<p>Així fa de l’art de viure el moment, és a dir, la impro, un entreteniment únic. Una tasca rigurosa i ben feta que els ha convertit, en el <strong>fenòmen impro</strong> a Barcelona.</p>
		<p>Actualment <strong>Planeta Impro</strong> porta 12 anys ininterromputs a la cartellera. I des del 2004 amb seu fixe al <strong>Teatreneu</strong>, al barceloní barri de Gràcia.</p>  
		<p>Amb Jose L. Adserías al capdavant han creat més de 10 espectacles dels quals n’han fet més de 3.800 funcions (a nivell nacional i internacional) i amb els que han superat el <strong>milió d’espectadors</strong>.</p>
	</article>

	<article id="critica">
		<div>
			<h2>La crítica</h2>
			<blockquote>Amb pocs elements, bàsicament la paraula i l’agilitat mental, circula des de fa anys... Planeta Impro. El que fan impresiona i diverteix!</blockquote> <cite>— ANIMA, CANAL 33</cite>
		</div>
		<div>
			<h2 class="titol_secundari">La crítica</h2>
			<blockquote>Cal un barreja molt especial de talent, intuició i (sana) poca vergonya per convertir la improvisació teatral en alguna cosa més que un happening sense solta ni volta. Amb Planeta Impro veuràs bona execució, talent per la improvisació i uns actors que ho demostren sobre l’escenari.</blockquote> <cite>— GUIA DEL OCIO</cite>
		</div>
		<div>
			<h2 class="titol_secundari">La crítica</h2>
			<blockquote>Planeta Impro: mestres de la pura invenció còmica en directe.</blockquote><cite>— EL PAÍS</cite>
		</div>
	</article>
</section>	

<section id="membres">
	<h2>Membres</h2>
	<ul>
		<li>
			<img src="/images/companyia/companyia_jose-1x.jpg" alt="Jose L. Adserías">
			<h2>Jose L. Adserías</h2>
			<p>Director / Improvisador</p>
		</li>
		<li>
			<img src="/images/companyia/companyia_angel-1x.jpg" alt="Angel Galán">
			<h2>Angel Galán</h2>
			<p>Ajudant de direcció / Improvisador</p>
		</li>
		<li>
			<img src="/images/companyia/companyia_alejandra-1x.jpg" alt="Alejandra Jiménez-Cascón">
			<h2>Alejandra Jiménez-Cascón</h2>
			<p>Improvisadora</p>
		</li>
		<li>
			<img src="/images/companyia/companyia_beatriu-1x.jpg" alt="Beatriu Castelló">
			<h2>Beatriu Castelló</h2>
			<p>Improvisadora</p>
		</li>
		<li>
			<img src="/images/companyia/companyia_franco-1x.jpg" alt="Franco Andrea Maestrini">
			<h2>Franco Andrea Maestrini</h2>
			<p>Improvisador</p>
		</li>
		<li>
			<img src="/images/companyia/companyia_jordi-1x.jpg" alt="Jordi Soriano">
			<h2>Jordi Soriano</h2>
			<p>Improvisador</p>
		</li>
		<li>
			<img src="/images/companyia/companyia_joseperez-1x.jpg" alt="Jose Pérez-Ocaña">
			<h2>Jose Pérez-Ocaña</h2>
			<p>Improvisador</p>
		</li>
		<li>
			<img src="/images/companyia/companyia_judit-1x.jpg" alt="Judit Martín">
			<h2>Judit Martín</h2>
			<p>Improvisadora</p>
		</li>
		<li>
			<img src="/images/companyia/companyia_miquel-1x.jpg" alt="Mireia Scatti">
			<h2>Miquel Simó</h2>
			<p>Improvisador</p>
		</li>
		<li>
			<img src="/images/companyia/companyia_mireia-1x.jpg" alt="">
			<h2>Mireia Scatti</h2>
			<p>Improvisadora</p>
		</li>
		<li>
			<img src="/images/companyia/companyia_monica-1x.jpg" alt="Mónica Ballesteros">
			<h2>Mónica Ballesteros</h2>
			<p>Improvisadora</p>
		</li>
		<li>
			<img src="/images/companyia/companyia_sam-1x.jpg" alt="Sam Gutiérrez">
			<h2>Sam Gutiérrez</h2>
			<p>Improvisadora</p>
		</li>
		<li>
			<img src="/images/companyia/companyia_sandra-1x.jpg" alt="Sandra de la Prada">
			<h2>Sandra de la Prada</h2>
			<p>Il·luminació i so / disseny gràfic</p>
		</li>
		<li>
			<img src="/images/companyia/companyia_sonia-1x.jpg" alt="Sònia Pardo">
			<h2>Sònia Pardo</h2>
			<p>Il·luminació i so / desenvolupament web</p>
		</li>
		<li>
			<img src="/images/companyia/companyia_eva-1x.jpg" alt="Eva Adserías">
			<h2>Eva Adserías</h2>
			<p>Producció i comunicació</p>
		</li>
		<li>
			<img src="/images/companyia/companyia_marina-1x.jpg" alt="Marina Martori">
			<h2>Marina Martori</h2>
			<p>Ajudant de producció i comunicació</p>
		</li>
		<li>
			<img src="/images/companyia/companyia_marisa-1x.jpg" alt="Marisa Regalado">
			<h2>Marisa Regalado</h2>
			<p>Vestuari</p>
		</li>
		<li>
			<img src="/images/companyia/companyia_espaliat-1x.jpg" alt="Alejandra Espaliat">
			<h2>Alejandra Espaliat</h2>
			<p>Fotografia</p>
		</li>
		<li>
			<img src="/images/companyia/companyia_laura-1x.jpg" alt="Laura Fermentino">
			<h2>Laura Fermentino</h2>
			<p>Vídeo</p>
		</li>				
	</ul>
</section>