---
title: Esdeveniments Planeta Impro
---
<article id="eventos">
	<h2><%= t "menu.esdeveniments" %></h2>
	<p class="construccio">Aquesta secció de la web s’està improvisant. En breu serà operativa. <br>Si necessites informació pots contactar amb nosaltres. Recorda que pots trobar-nos a facebook i a twitter. <br>Torna aviat!</p>
	<img class="img-construccio" src="/images/construccion.jpg">
</article>

  