---
title: Espectáculos Planeta Impro
---
<section id="esp">
	<article id="esp_ish">
		<a href="espectacles_improshow.html"><img src="/images/espectacles/logo-ish-1x.gif" alt="Impro Show"></a>
		<h2>Impro Show</h2>
		<p><a href="espectacles_improshow.html">¡Un espectáculo fresco, original y 100% interactivo! Los actores salen a escena sin guión, y tú decides qué pasará en un show diferente y único en cada función. [...]</a></p>
		<div class="accions" data-category="actions">
			<span class="accio_compra" data-action="compra"><a href="http://teatreneu.com/impro-landing.php?utm_source=blink_we&utm_medium=fbk&utm_content=impros&utm_campaign=impros_semana_loca" target="blank">Comprar entradas</a></span>
			<span class="accio_contracta"><a href="contacte.html">Contratar</a></span> 
		</div>
	</article>
	<article id="esp_if">
		<a href="espectacles_improfighters.html"><img src="/images/espectacles/logo-if-1x.jpg" alt="Impro Fighters"></a>
		<h2>Impro-Fighters</h2>
		<p><a href="espectacles_improfighters.html">La lucha por ser el rey de la impro ha empezado. Luchadores que combaten a golpe de humor, con su ingenio y las frases del público como únicas armas. Su objetivo: ganar el voto y proclamarse campeones.</a> </p>
		<p><a href="espectacles_improfighters.html">Un show al más puro estilo de los combates de boxeo, y con un árbitro de lujo: el mítico Johnny Bravo. [...]</a></p>
	
		<div class="accions" data-category="actions">
			<span class="accio_compra" data-action="compra"><a href="http://teatreneu.com/impro-landing.php?utm_source=blink_we&utm_medium=fbk&utm_content=impros&utm_campaign=impros_semana_loca" target="blank">Comprar entradas</a></span>
			<span class="accio_contracta"><a href="contacte.html">Contratar</a></span> 
		</div>
	</article>
	<article id="esp_ihsh">
		<a href="espectacles_improhorrorshow.html"><img src="/images/espectacles/logo-ihsh-1x.gif" alt="Impro Horror Show"></a>
		<h2>Impro Horror Show</h2>
		<p><a href="espectacles_improhorrorshow.html">¡Un espectáculo <span class="caracters-especials">«</span>de miedo<span class="caracters-especials">»</span>! Dedicado al terror, las fobias, los zombies y asesinos en serie. Siempre desde el humor y con las frases del público, para crear las historias más originales con protagonistas monstruosamente divertidos.</a> [...]</p>
		<div class="accions" data-category="actions">
			<!-- <span class="accio_compra" data-action="compra"><a href="http://teatreneu.com/impro-landing.php?utm_source=blink_we&utm_medium=fbk&utm_content=impros&utm_campaign=impros_semana_loca" target="blank">Comprar entradas</a></span> -->
			<span class="accio_contracta"><a href="contacte.html">Contratar</a></span> 
		</div>
	</article>
	<article id="esp_iscat">
		<a href="espectacles_improshowcat.html"><img src="/images/espectacles/logo-iscat-1x.gif" alt="Impro Show .cat"></a>
		<h2>Impro Show .Cat</h2>
		<p><a href="espectacles_improshowcat.html">La cultura y actualidad catalanas salen a escena en tono de humor, en un espectáculo diferente en cada sesión gracias a la participación del público. [...]</a></p>
		<div class="accions">
			<!-- <span id="accio_compra"><a href="#">Comprar entradas</a></span> -->
			<span class="accio_contracta"><a href="contacte.html">Contratar</a></span> 
		</div>
	</article>
</section>
