---
title: Impro Horror Show, Planeta Impro
---
<div id="espectacle">
	<p  class="ruta"><a href="espectacles.html">Espectáculos</a> > Impro Horror Show</p>
	<section id="info">
		<header id="nom_espectacle">
			<h2 class="titol-header">Impro Show</h2>
			<div id="imatges" class="flexslider">
				<ul class="slides">
					<li><img src="images/improhorror/00_impro_horror_1x.jpg" alt="Escenografia Impro Horror Show"></li>
					<li><img src="images/improhorror/01_impro_horror_1x.jpg" alt="presentación Impro Horror Show"></li>
					<li><img src="images/improhorror/02_impro_horror_1x.jpg" alt="Impro Horror Show"></li>
					<li><img src="images/improhorror/03_impro_horror_1x.jpg" alt="Impro Horror Show"></li>
					<li><img src="images/improhorror/04_impro_horror_1x.jpg" alt="Impro Horror Show"></li>
					<li><img src="images/improhorror/05_impro_horror_1x.jpg" alt="Impro Horror Show"></li>
					<li><img src="images/improhorror/06_impro_horror_1x.jpg" alt="Impro Horror Show"></li>
					<li><img src="images/improhorror/07_impro_horror_1x.jpg" alt="Impro Horror Show"></li>
					<!-- <li><img src="images/improhorror/08_impro_horror_1x.jpg"></li> -->
				</ul>
			</div>
		</header>

		<div id="horari">
			<h2 class="titol">Impro Horror Show</h2>
			<p>Sábado a las 23.30 h. Teatreneu</p>
		</div>
		<div class="accions" data-category="actions">
			<!-- <span class="accio_compra" data-action="compra"><a href="http://teatreneu.com/impro-landing.php?utm_source=blink_we&utm_medium=fbk&utm_content=impros&utm_campaign=impros_semana_loca" target="blank">Comprar entradas</a></span> -->
			<span class="accio_contracta2"><a href="contacte.html">Contratar</a></span> 		
		</div> 
	
		<article id="sinopsi">
			<p>Reírse de los miedos es la mejor terapia para ahuyentarlos, por eso en Impro Horror Show descubriréis la cara más cómica y expectante de las <strong>sugerencias del público</strong>.</p>
			<p>Escenas de intriga, suspense, muertes sorprendentes y zombies freakys, pondrán a prueba la capacidad de los <strong>improvisadores</strong> para transformar las frases del público en escenas que nos llevarán al museo de cera, a escuchar psicofonías, conocer originales asesinos en serie, revivir miedos en el campamento de verano, y desvelar las fobias humanas más inesperadas, en una noche <strong>terroríficamente divertida</strong>.</p>
		</article>

		<article id="critica">
			<div>
				<h2>La crítica</h2>
				<blockquote>Una especie de «sesión golfa» teatral en la que el cine de terror es el hilo conductor de un espectáculo que cada noche es diferente… El resultado es tremendo. Una sátira mordaz del cine de horror. Lo importante es la ejecución, el talento para la improvisación que los actores demuestran sobre el escenario. Una delicia, una fiesta.</blockquote> <cite>— GUIA DEL OCIO</cite>
			</div>
			<div>
				<h2 class="titol_secundari">La crítica</h2>
				<blockquote>¡Es buenísimo! Los actores saben mucho y tienen mucho sentido del humor, son rápidos, inteligentes. Es un espectáculo cercano, estás como en casa, disfrutas, ríes con su humor gamberro. </blockquote> <cite>— ÀNGEL LLÀCER a CATALUNYA RÀDIO</cite>
			</div>
			
			<div>
				<h2>El público</h2>
				<blockquote>Muy recomendable. Durante todo el espectáculo se mantuvoel nivel de ingenio y humor. Los cuatro actores lo hicieron genial.Pasamos un rato muy divertido. Sin duda repetiremos!</blockquote> <cite>— Sílvia</cite>
			</div>	
			<div>
				<h2 class="titol_secundari">El público</h2>
				<blockquote>Reí como hacía años que no reía. De lo mejorcito en teatro, una experiencia recomendable para todos aquellos que desean pasar un muy buen rato y quieren romper un poco con la monotonía del día. ¡Excelente trabajo de los actores! Aseguro que repetiré sin dudarlo.</blockquote> <cite>— Carlos</cite>
			</div>
			<div>
				<h2 class="titol_secundari">El público</h2>
				<blockquote>Son unos actores impresionantes, he visto el espectáculo dos veces y repetiré. No se cómo pueden hacer tan buenas improvisaciones. No puedes parar de reír.</blockquote> <cite>— Mónica</cite>
			</div>
		</article>	
	</section>

	<aside>
		<div id="cartell">
			<img src="images/improhorror/cartell_ih.gif" alt="cartel Impro Horror Show">
		</div>
		<article id="fitxa">
			<h3>Ficha artística</h3>
			<ul>
				<li><strong>Creación y producción:</strong> Planeta Impro</li>
				<li><strong>Dirección:</strong> Jose L. Adserías y Angel Galán</li>
				<li><strong>Elenco:</strong> Angel Galán, Franco Andrea Maestrini, Jordi Soriano, Jose L. Adserías, Jose Pérez-Ocaña, Judit Martín, Miquel Simó, Mireia Scatti, Mónica Ballesteros y Sam Gutiérrez</li>							
				<li><strong>Iluminación y sonido:</strong> Sònia Pardo y Sandra de la Prada<li>
				<li><strong>Diseño gráfico:</strong> Sandra de la Prada</li>
				<li><strong>Vestuario:</strong> Marisa Regalado</li>
				<li><strong>Escenografía:</strong> Rocío Aroca</li>
				<li><strong>Fotografía:</strong> Alejandra Espaliat</li>
			</ul>
		</article>
	</aside>			
</div>

<!-- Slide -->
	<script>
  		$(window).load(function() {
    		$('.flexslider').flexslider({
    			slideshowSpeed: 5000
    		});
    		//$('#imatges').flexslider('stop');
  		});
	</script>