---
title: Impro Fighters Revolution, Planeta Impro
---
<div id="espectacle">
	<p  class="ruta"><a href="espectacles.html">Espectáculos</a> > Impro Fighters</p>
	<section id="info">
		<header id="nom_espectacle">
			<h2 class="titol-header">Impro Fighters Revolution</h2>
			<div id="imatges" class="flexslider">
				<ul class="slides">
					<li><img src="images/improfighters/01_impro_Fighters_1x.jpg" alt="Presentador Impro Fighters"></li>
					<li><img src="images/improfighters/02_impro_Fighters_1x.jpg" alt="Combate parejas Impro Fighters"></li>
					<li><img src="images/improfighters/03_impro_Fighters_1x.jpg" alt="Diabla Sobre Ruedas y Zirconita"></li>
					<li><img src="images/improfighters/04_impro_Fighters_1x.jpg" alt="Combate parejas Impro Fighters"></li>
					<li><img src="images/improfighters/05_impro_Fighters_1x.jpg" alt="Combate parejas Impro Fighters"></li>
					<li><img src="images/improfighters/06_impro_Fighters_1x.jpg" alt="Custodia Compartida y La Niña de Papá"></li>
					<li><img src="images/improfighters/07_impro_Fighters_1x.jpg" alt="Tetoko Miyagi Impro Fighters"></li>
					<li><img src="images/improfighters/08_impro_Fighters_1x.jpg" alt="Ganador Impro Fighters"></li>
				</ul>
			</div>
		</header>
						
		<div id="horari">
			<h2 class="titol">Impro Fighters Revolution</h2>
			<p>Viernes a las 23.00 h. Teatreneu</p>
		</div>
		<div class="accions" data-category="actions">
			<span class="accio_compra" data-action="compra"><a href="http://teatreneu.com/impro-landing.php?utm_source=blink_we&utm_medium=fbk&utm_content=impros&utm_campaign=impros_semana_loca" target="blank">Comprar entradas</a></span>
			<span class="accio_contracta"><a href="contacte.html">Contratar</a></span> 
		</div> 
		
		<article id="sinopsi">
			<p>Planeta Impro lleva años arrasando con este espectáculo al estilo Pressing Catch, llevado al teatro como una <strong>lucha de ingenio y diversión</strong>.</p>
			<p>El escenario es un ring, los actores son los más variopintos luchadores que puedas imaginar, y la <strong>función, siempre única y diferente</strong>, es una suma de combates donde el humor y la improvisación son las únicas armas con las que golpear al rival.</p>
			<p>El público propone los títulos y… ¡empieza el combate! Tras cada impro el público vota a su favorito, y al final de la velada se proclamará al ganador.</p>
			<p>Imaginación, espontaneidad y sobre todo mucho, mucho <strong>sentido del humor</strong>, en un espectáculo gamberro, que cuenta con un público, fan y seguidor sin rival.</p>
			<p>Ha llegado la <strong>revolución de la impro</strong>! Ha llegado Impro-Fighteeers!!!</p>
		</article>
		<article id="critica">
			<div>
				<h2>La crítica</h2>
				<blockquote>Un espectáculo de improvisación que provoca luchas para conseguir entradas, entre sus fieles seguidores.</blockquote> <cite>— TEATRAL.NET</cite>
			</div>
			<div>
				<h2 class="titol_secundari">La crítica</h2>
				<blockquote>Las dotes de improvisación de los actores hacen de Impro-Fighters un espectáculo dinámico y fresco, con golpes de humor increíbles de creación inmediata…</blockquote> <cite>— L’INDEPENDENT DE GRÀCIA</cite>
			</div>
			<div>
				<h2 class="titol_secundari">La crítica</h2>
				<blockquote>Un espectáculo interactivo en el que el público no tiene ocasión de aburrirse o pensar en cualquier aspecto de la vida cotidiana. Para reír de principio a fin y dejarse llevar por la singularidad de sus personajes y sus disparatadas ocurrencias</blockquote> <cite>— PLAY ON BARCELONA</cite>
			</div>
			<div>
				<h2>El público</h2>
				<blockquote>Increíble la compenetración entre los actores. La agilidad mental y su vocabulario. La capacidad de improvisación. La sorpresa. La idea de crear una obra y que cada representación sea nueva.</blockquote> <cite>— Aitor</cite>
			</div>	
			<div>
				<h2 class="titol_secundari">El público</h2>
				<blockquote>No pude parar de reír y de asombrarme de la capacidad de improvisación de los actores!!! Impresionante!!! Volveremos a repetir seguro!!!</blockquote> <cite>— Alexia</cite>
			</div>
			<div>
				<h2 class="titol_secundari">El público</h2>
				<blockquote>JAJAJAJAJAJAJA...... JAJAJAJA... jajajaja... jojojojo... jijijiji... jujujuju... jejejejejeje... jajajajajajajaja... jejejejejeje... jojojojojojojoj... jujujujujuju... jejejejejeje... jajajajajaja... jojojojojojojo... jajajajaja... jejejejeje... jijijijiji........ .... y así todo el rato</blockquote> <cite>— Carmentxu</cite>
			</div>
		</article>					
	</section>

	<aside>
		<div id="cartell">
			<img src="images/improfighters/cartell_if.jpg" alt="Cartel Impro Fighters">
		</div>
		<article id="fitxa">
			<h3>Ficha artística</h3>
			<ul>
				<li><strong>Dirección:</strong> Jose L. Adserías y Angel Galán</li>
				<li><strong>Producción:</strong> Planeta Impro</li>
				<li><strong>Presentador:</strong> Jordi Soriano</li>
				<li><strong>Luchadores:</strong> Alba Florejachs, Angel Galán, Beatriu Castelló, Jose Pérez-Ocaña, Judit Martín, Miquel Simó, Mónica Ballesteros y Sam Gutiérrez</li>				
				<li><strong>Iluminación y sonido:</strong> Sònia Pardo y Sandra de la Prada<li>
				<li><strong>Diseño gráfico:</strong> Sandra de la Prada</li>
				<li><strong>Vestuario:</strong> Marisa Regalado</li>
				<li><strong>Escenografía:</strong> Furti Corominas</li>
				<li><strong>Fotografía:</strong> Alejandra Espaliat Planas</li>
			</ul>
		</article>

		<div id="video">
			<a href="http://www.youtube.com/watch?v=8C4duvRWJjo" class="popup-youtube"><img src="images/improfighters/vp_impro_fighters_1x.jpg" alt="Impro Fighters"></a>
		</div>
	</aside>			
</div>

<!-- Slide -->
<script>
 	$(window).load(function() {
   	$('.flexslider').flexslider({
   		slideshowSpeed: 5000
   	});
   	//$('#imatges').flexslider('stop');
 	});
</script>

