<header id="home_header">
	<h1 class="logo_home1">
		<a href="index.html"><img src="/images/logo_planeta_impro.png" alt="Logo Planeta Impro"></a>
	</h1>

	<%= partial "layouts/header-social" %>

	<%= partial "layouts/header-nav" %>

	<h1 class="logo_home2">
		<a href="index.html"><img src="/images/logo_planeta_impro.png" alt="Logo Planeta Impro"></a>
	</h1>				
</header>

<%= partial "layouts/header-idioma" %>

<div id="banner">
	<div id="imatges" class="flexslider">
		<ul class="slides">
			<li>
				<a href="espectacles/improshow.html">
					<img src="/images/home/improshow.jpg" alt="Impro Show">
					<p class="slogan"><strong>Impro Show</strong><br>Entre els 10 espectacles més vistos de la temporada 2013-2014 a Barcelona</p>
				</a>
			</li>
			<li>
				<img src="/images/home/improfriends.jpg" alt="Planeta Impro">
				<p class="slogan2">Un desafiament d'espontaneïtat i imaginació</p>
			</li>
			<li>
				<a href="espectacles/improhorrorshow.html">
					<img src="/images/home/improhorrorshow.jpg" alt="Impro Horror Show">
					<p class="slogan3"><strong>Impro Horror Show</strong><br>Passa-ho de por!</p>
				</a>
			</li>
			<li>
				<a href="espectacles/improfighters.html">
					<img src="/images/home/00_impro_Fighters_1x.jpg" alt="Impro Fighters Revolution">
					<p class="slogan4"><strong>Impro Fighters Revolution</strong><br>El millor combat d’improvisació</p>
				</a>
			</li>
			<li>
				<img src="/images/home/harold.jpg" alt="Planeta Impro">
				<p class="slogan4"><strong>Divertim, sorprenem, emocionem</strong></p>
			</li>
		</ul>
	</div>	
</div>
<div id="portada">
	<aside>
		<section id="calendar">
			<div id="eventCalendar"></div>
		</section>
		<a target="blank" href="http://eepurl.com/UyLFv"><section id="boletin">subscriu-te<br> al butlletí de Planeta Impro</section></a>
		<div id="aside_new">
			<img src="/images/news/cadena_ser.png" alt="Cadena Ser">
			<span>Tot és Comèdia </span>(cada diumenge a les 13.40 h)<a href="http://www.cadenaser.com/cultura/audios/planeta-impro-21/csrcsrpor/20140925csrcsrcul_1/Aes/" target="blank">Podcast del programa</a>
		</div>
	</aside>
	<section id="news">
		<div>
			<!--<article>
				<a href="http://vimeo.com/93136036" class="popup-vimeo"><img src="/images/news/pay_per_laugh.jpg" alt="Pay Per Laugh"></a>
				<h3>Planeta Impro «gana» un León de Oro en Cannes</h3>
				<p>Teatreneu, creador de la iniciativa <strong><span class="caracters-especials">«</span><a href="http://vimeo.com/93136036" class="popup-vimeo" onClick="_gaq.push (‘[_trackEvent' ,' Portada' ,' Video' ,' PayLaugh' , 0,2])">Pay per Laugh</a><span class="caracters-especials">»</span></strong>, encargó la comunicación de este evento a la agencia  The Cyranos / McCann. Planeta Impro fue el encargado de poner a prueba éste innovador sistema de entradas en las que el público paga por lo que ríe. ¡Y fue un éxito! El proyecto ganó en la pasada edición de los Premios de la Publicidad en Cannes: 1 León de Oro en Mobile, 3 Leones de Bronce en Direct, 2 Leones de Bronce en Media, 1 León de Plata en Design y 1 León de Bronce en Promo & Activation. Gracias a Teatreneu por confiar en nosotros.</p>
			</article> -->
			<!-- <article>
				<img src="/images/news/noticia_estiu_cast.jpg" alt="Disfruta de un verano improvisado">
				<h3>Nuestro verano de Impro</h3>
				<p>Llega el calorcito y las ganas de pasarlo en grande. Lo sabemos. Por eso hemos preparado una programación para un verano de miedo.</p> 
				<p>Impro Show e Impro Fighters no paran en agosto para que no dejes de reír. Y además cada semana actuamos en diferentes ciudades. Consulta calendario. ¡Disfruta de un verano improvisado!</p>
			</article> -->
			<article>
				<img src="/images/news/news_planeta-impro2.jpg" alt="Disfruta de un verano improvisado">
				<h3>Obrim nova temporada d'impro</h3>
				<p>Vols el millor espectacle d'humor? L'únic que és cada dia diferent? No et quedis sense Impro Show. Oberta <a href="contacte.html">contractació</a>! </p>
				<p>I encara millor: dóna-li un toc únic als dies més especials de l’any amb els nostres IMPRO SHOW temàtics: Halloween, Nadal, Dia dels Enamorats, Sant Jordi, La festa major... </p>
				<p><a href="contacte.html">Demana informació</a>!</p>
			</article>
			<article>
				<%= image_tag 'news/public_impro-fighters-2.jpg', alt: "Público Impro Fighters en el Teatreneu" %>
				<!-- <img src="/images/news/public_impro-fighters-2.jpg" alt="Público Impro Fighters en el Teatreneu"> -->
				<h3>Planeta Impro arriba al milió d'espectadors</h3>
				<p>Després de 13 anys donant-ho tot tenim una xifra d’espectadors que ens encanta. Hem superat el milió d'espectadors!</p> 
				<p>Els nostres shows al Teatreneu i en gira: Impro Show, Impro Horror Show, Impro Fighters, sumats als <strong>esdeveniments d'empresa</strong> i a les <strong>animacions particulars</strong> han arribat a més d'un milió d'espectadors. Gràcies!</p>
			</article>
		</div>
		
		<div>
			<article>
				<a class="popup-youtube" href="https://www.youtube.com/watch?v=7_iOjbo9dNM"><img src="/images/news/evento_planeta-impro.jpg" alt="Eventos para empresas"></a>
				<h3>Actuem per tu</h3>
				<p>En festes particulars, <a class="popup-youtube" title="Eventos" href="https://www.youtube.com/watch?v=7_iOjbo9dNM">esdeveniments d'empresa</a>, trobades, casaments... Amb espectacles totalment personalitzats. Ens ajustem al que necessites perquè la teva festa o reunió sigui única i inoblidable. <a href="contacte.html">Contacta</a> amb nosaltres i demana’ns informació.</p>
			</article>	
			<article>
				<img src="/images/news/companyia2.jpg" alt="Novedades Planeta Impro">
				<h3>La nostra nova web</h3>
				<p>Estem actualitzant la nostra web amb formació, esdeveniments, espectacles i dossier de premsa. Si no trobes el que busques ara mateix i necessites més informació <a href="contacte.html">contacta</a> amb nosaltres.</p>
				<p>No volem que et perdis res així que subscriu-te al nostre <a target="blank" href="http://eepurl.com/UyLFv">butlletí</a> i rebràs informació amb promocions, notícies i grans avantatges per als nostres fans. </p>
				<p>La nostra web està creixent. I els nostres amics ja ho saben!</p>
			</article>			
		</div>
	</section>
</div>


<!-- Slide -->
<script>
		$(window).load(function() {
		$('.flexslider').flexslider({
			slideshowSpeed: 5000
		});
		//$('#imatges').flexslider('stop');
		});
</script>


