<header id="home_header">
	<h1 class="logo_home1">
		<a href="index.html"><img src="images/logo_planeta_impro.png" alt="Logo Planeta Impro"></a>
	</h1>

	<%= partial "layouts/header-social" %>

	<%= partial "layouts/header-nav" %>

	<h1 class="logo_home2">
		<a href="index.html"><img src="images/logo_planeta_impro.png" alt="Logo Planeta Impro"></a>
	</h1>				
</header>

<%= partial "layouts/header-idioma" %>

<div id="banner">
	<div id="imatges" class="flexslider">
		<ul class="slides">
			<li>
				<a href="espectacles_improshow.html">
					<img src="images/home/improshow.jpg" alt="Impro Show">
					<p class="slogan"><strong>Impro Show</strong><br>Entre los 10 espectáculos más vistos en Barcelona la temporada 2012-2013</p>
				</a>
			</li>
			<li>
				<img src="images/home/improfriends.jpg" alt="Planeta Impro">
				<p class="slogan2">Un desafío de espontaneidad e imaginación</p>
			</li>
			<li>
				<a href="espectacles_improhorrorshow.html">
					<img src="images/home/improhorrorshow.jpg" alt="Impro Horror Show">
					<p class="slogan3"><strong>Impro Horror Show</strong><br>¡Pásalo de miedo!</p>
				</a>
			</li>
			<li>
				<a href="espectacles_improfighters.html">
					<img src="images/home/00_impro_Fighters_1x.jpg" alt="Impro Fighters Revolution">
					<p class="slogan4"><strong>Impro Fighters Revolution</strong><br>El mejor combate de impro</p>
				</a>
			</li>
			<li>
				<img src="images/home/harold.jpg" alt="Planeta Impro">
				<p class="slogan4"><strong>Divertimos, sorprendemos y emocionamos</strong></p>
			</li>
		</ul>
	</div>	
</div>
<div id="portada">
	<aside>
		<section id="calendar">
			<div id="eventCalendar"></div>
		</section>
		<a target="blank" href="http://eepurl.com/UyLFv"><section id="boletin">Suscríbete<br> al boletín de Planeta Impro</section></a>
		<div id="aside_new">
			<img src="images/news/catalunya-radio.png" alt="Catalunya Radio">
			<span>Cada lunes de 18.40 a 19.00 h</span><a href="http://www.catradio.cat/seccio/4811/Improshow/programa/1641/8-dies-a-la-setmana" target="blank"><span id="aside_new-min">Podcast del programa</span></a>
		</div>
	</aside>
	<section id="news">
		<div>
			<!--<article>
				<a href="http://vimeo.com/93136036" class="popup-vimeo"><img src="images/news/pay_per_laugh.jpg" alt="Pay Per Laugh"></a>
				<h3>Planeta Impro «gana» un León de Oro en Cannes</h3>
				<p>Teatreneu, creador de la iniciativa <strong><span class="caracters-especials">«</span><a href="http://vimeo.com/93136036" class="popup-vimeo" onClick="_gaq.push (‘[_trackEvent' ,' Portada' ,' Video' ,' PayLaugh' , 0,2])">Pay per Laugh</a><span class="caracters-especials">»</span></strong>, encargó la comunicación de este evento a la agencia  The Cyranos / McCann. Planeta Impro fue el encargado de poner a prueba éste innovador sistema de entradas en las que el público paga por lo que ríe. ¡Y fue un éxito! El proyecto ganó en la pasada edición de los Premios de la Publicidad en Cannes: 1 León de Oro en Mobile, 3 Leones de Bronce en Direct, 2 Leones de Bronce en Media, 1 León de Plata en Design y 1 León de Bronce en Promo & Activation. Gracias a Teatreneu por confiar en nosotros.</p>
			</article> -->
			<article>
				<img src="images/news/noticia_estiu_cast.jpg" alt="Disfruta de un verano improvisado">
				<h3>Nuestro verano de Impro</h3>
				<p>Llega el calorcito y las ganas de pasarlo en grande. Lo sabemos. Por eso hemos preparado una programación para un verano de miedo.</p> 
				<p>Impro Show e Impro Fighters no paran en agosto para que no dejes de reír. Y además cada semana actuamos en diferentes ciudades. Consulta calendario. ¡Disfruta de un verano improvisado!</p>
			</article>
			<article>
				<img src="images/news/public_impro-fighters-2.jpg" alt="Público Impro Fighters en el Teatreneu">
				<h3>Planeta Impro llega al millón de espectadores</h3>
				<p>Después de 13 años dándolo todo tenemos una cifra de espectadoresque nos encanta. ¡Hemos superado el millón de espectadores!</p>
				<p>Nuestros shows en el Teatreneu y en gira: Impro Show, Impro Horror Show, Impro Fighters, sumado a los <strong>eventos de empresa</strong> y <strong>animaciones particulares</strong> han llegado a más de un millón de espectadores. ¡Gracias!</p>
			</article>
		</div>
		
		<div>
			<article>
				<a class="popup-youtube" href="https://www.youtube.com/watch?v=7_iOjbo9dNM"><img src="images/news/evento_planeta-impro.jpg" alt="Eventos para empresas"></a>
				<!-- <a href="http://youtu.be/7_iOjbo9dNM" target="blank"><img src="images/news/evento_planeta-impro.jpg" alt="Evento empresa"></a> -->
				<h3>Actuamos para ti</h3>
				<p>En fiestas particulares, <a class="popup-youtube" title="Eventos" href="https://www.youtube.com/watch?v=7_iOjbo9dNM">eventos de empresa</a> y convenciones, con espectáculos totalmente personalizados. Nos ajustamos a lo que necesitas para que tu fiesta o reunión sea única e inolvidable. <a href="contacte.html">contacta</a> con nosotros para más información.</p>
			</article>	
			<article>
				<img src="images/news/companyia2.jpg" alt="Novedades Planeta Impro">
				<h3>Nuestra nueva web</h3>
				<p>Estamos actualizando nuestra web con nuevos apartados de formación, eventos, espectáculos y dosier de prensa. Si necesitas más información <a href="contacte.html">contacta</a> con nosotros.</p>
				<p>No queremos que te pierdas nada, así que si quieres estar a la última, suscríbete a nuestro <a target="blank" href="http://eepurl.com/UyLFv">boletín</a> y recibirás información con promociones, noticias y grandes ventajas para nuestros fans.</p>
				<p>Nuestra web está creciendo. ¡Y nuestros amigos ya lo saben!</p> 
			</article>			
		</div>
	</section>
</div>


<!-- Slide -->
<script>
		$(window).load(function() {
		$('.flexslider').flexslider({
			slideshowSpeed: 5000
		});
		//$('#imatges').flexslider('stop');
		});
</script>


