<header id="home_header">
	<h1 class="logo_home1">
		<a href="index.html"><img src="/images/logo_planeta_impro.png" alt="Logo Planeta Impro"></a>
	</h1>

	<%= partial "layouts/header-social" %>

	<%= partial "layouts/header-nav" %>

	<h1 class="logo_home2">
		<a href="index.html"><img src="/images/logo_planeta_impro.png" alt="Logo Planeta Impro"></a>
	</h1>				
</header>

<%= partial "layouts/header-idioma" %>

<div id="banner">
	<div id="imatges" class="flexslider">
		<ul class="slides">
			<li>
				<a href="espectacles/improshow.html">
					<img src="/images/home/improshow.jpg" alt="Impro Show">
					<p class="slogan"><strong>Impro Show</strong><br>Entre los 10 espectáculos más vistos en Barcelona la temporada 2012-2013</p>
				</a>
			</li>
			<li>
				<img src="/images/home/improfriends.jpg" alt="Planeta Impro">
				<p class="slogan2">Un desafío de espontaneidad e imaginación</p>
			</li>
			<li>
				<a href="espectacles/improhorrorshow.html">
					<img src="/images/home/improhorrorshow.jpg" alt="Impro Horror Show">
					<p class="slogan3"><strong>Impro Horror Show</strong><br>¡Pásalo de miedo!</p>
				</a>
			</li>
			<li>
				<a href="espectacles/improfighters.html">
					<img src="/images/home/00_impro_Fighters_1x.jpg" alt="Impro Fighters Revolution">
					<p class="slogan4"><strong>Impro Fighters Revolution</strong><br>El mejor combate de impro</p>
				</a>
			</li>
			<li>
				<img src="/images/home/harold.jpg" alt="Planeta Impro">
				<p class="slogan4"><strong>Divertimos, sorprendemos y emocionamos</strong></p>
			</li>
		</ul>
	</div>	
</div>
<div id="portada">
	<aside>
		<section id="calendar">
			<div id="eventCalendar"></div>
		</section>
		<a target="blank" href="http://eepurl.com/UyLFv"><section id="boletin">Suscríbete<br> al boletín de Planeta Impro</section></a>
		<div id="aside_new">
			<img src="/images/news/cadena_ser.png" alt="Cadena Ser">
			<span>Tot és Comèdia </span>(cada domingo a las 13.40 h)<a href="http://www.cadenaser.com/cultura/audios/planeta-impro-21/csrcsrpor/20140925csrcsrcul_1/Aes/" target="blank">Podcast del programa</a>
		</div>
	</aside>
	<section id="news">
		<div>
			<article>
				<%= image_tag 'news/workshop.jpg', alt: "Workshop improvisación" %>
				<!-- <img src="/images/news/public_impro-fighters-2.jpg" alt="Público Impro Fighters en el Teatreneu"> -->
				<h3>Aprende a improvisar con Planeta Impro!</h3>
				<p>Los próximos 17, 18, 24 y 25 de octubre participamos del Workshop de Improvisación y habilidades para hablar en público que organiza EVENT MANAGEMENT INSTITUT, dirigido a profesionales relacionados con el sector eventos y empresa.</p> 
				<p>El objetivo del taller es preparar las intervenciones en público para que sean profesionales, convincentes y fluidas. Un workshop de 16 horas lectivas para que dispongas de todas las herramientas necesarias para subirte a un escenario sin temor alguno.</p>
				<p>Los viernes 17 y 24 de 16h a 20h y los sábados 18 y 25 de 10h a 14h </p>
				<p><a href="http://eventmanagementinstitute.es/cursos-presenciales/299-workshop-de-improvisacion-y-hablidades-para-hablar-en-publico?utm_source=Contactos+Linkedin&utm_campaign=ec1c0e607d-Improvisaci_n_Comunicaci_n_Profesional10_1_2014&utm_medium=email&utm_term=0_a942f4fab3-ec1c0e607d-270701541" target="blank">Consulta toda la info e inscríbete</a>! </p>
			</article>	
			<article>
				<img src="/images/news/gala-vip-style.jpg" alt="Planeta Impro en la Gala Vip Style">
				<h3>Planeta Impro solidario</h3>
				<p>En septiembre participamos en la gala de presentación del nuevo número VIP STYLE MAGAZINE. Una revista que no sólo reúne moda, eventos y ocio, sino que cuenta con una plataforma solidaria, DO IT FOR THEM, que ayuda a dinamizar las relaciones entre lectores y proyectos sociales.</p> 
				<p>Planeta Impro quiso estar presente, de manera solidaria, en este acto de presentación que recaudaba fondos para el Casal dels Infants, y que se realizó en el Palau Robert.</p>
				<p>El evento estuvo apadrinado, entre otros, por Ares Teixidó, Mireia Canalda, Felipe López, Octavi Pujades y Vador Lladó.</p>
			</article>
		</div>
		<div>
			<article>
				<img src="/images/news/impro_horror.jpg" alt="Impro Horror Show en Halloween">
				<h3>En Halloween… ¡muérete de risa!</h3>
				<p>Planeta Impro tiene el espectáculo más mortíferamente divertido para la noche de Halloween: Impro Horror Show. Escenas de intriga, suspense, muertes sorprendentes y zombies freakys creadas en vivo y en directo con las frases del público!</p>
				<p>Este 31 de octubre puedes <a href="http://www.atrapalo.com/entradas/impro-horror-show_e95563/" target="blank">vernos en Sabadell</a> y en <a href="https://www.koobin.com/viladecans/index.php?action=PU_evento&idioma=ES&act=true" target="blank">Viladecans</a>. ¡Ven a pasar la noche más <strong>terroríficamente divertida</strong>!</p>
			</article>
			<article>
				<img src="/images/news/esdeveniments_nadal.jpg" alt="Actuamos para ti en Navidad">
				<h3>Actuamos para ti en Navidad!</h3>
				<p>¡Haz de tu cena de empresa algo único! Disfruta de un espectáculo divertido y original, donde los protagonistas sois vosotros.</p>
				<p>Actuamos en fiestas particulares, <a class="popup-youtube" title="Eventos" href="https://www.youtube.com/watch?v=7_iOjbo9dNM">eventos de empresa</a>, cenas de Navidad y convenciones, con espectáculos totalmente personalizados. Nos ajustamos a lo que necesitas para que tu fiesta o reunión sea única e inolvidable. <a href="contacte.html">Contacta</a> con nosotros para más información.</p>
			</article>
		</div>
	</section>
</div>


<!-- Slide -->
<script>
		$(window).load(function() {
		$('.flexslider').flexslider({
			slideshowSpeed: 5000
		});
		//$('#imatges').flexslider('stop');
		});
</script>


