<article id="legal">
	<h2><%= t "footer.legal" %></h2>
	<p>Toda información recibida de los usuarios de este sitio web será tratada con la máxima confidencialidad.</p>
	<p>De acuerdo a lo establecido en la Ley orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Caracter Personal, doy mi consentimiento para que mis datos sean incluídos en el fichero propiedad de Planeta Impro S.L para que puedan ser utilizadas para enviarme información sobre actividades organizadas por ellos.</p> 
	<p>Puedo cambiar, modificar o dar de baja mis datos por mail a <a href="mailto:comunicacion@planetaimpro.com">comunicacion@planetaimpro.com</a></p>
</article>