<article id="legal">
	<h2><%= t "footer.legal" %></h2>
	<p>Tota la informació rebuda dels usuaris en aquest lloc web serà tractada amb la màxima confidencialitat.</p> 
	<p>D'acord amb el que estableix la Llei orgànica 15/1999, del 13 de desembre, de Protecció de Dades de Caràcter Personal, dono el meu consentiment perquè les meves dades siguin incloses en el fitxer propietat de Planeta Impro SL perquè puguin ser utilitzades per enviar informació sobre activitats organitzades per ells.</p> 
	<p>Puc canviar, modificar o donar de baixa les meves dades per mail a <a href="mailto:comunicacion@planetaimpro.com">comunicacion@planetaimpro.com</a></p>
</article>
