---
title: Prensa, Planeta Impro
---
<article id="prensa">
	<h2><%= t "menu.premsa" %></h2>
	<p class="construccio">Este apartado de la web se está improvisando. En breve estará operativo. <br>Puedes seguirnos en facebook y twitter y volver pronto.</p>
	<img class="img-construccio" src="images/construccion.jpg">
</article>