---
title: Compañía Planeta Impro
---
<section id="companyia">
	<h2>Compañía</h2>
	<img class="companyia_img" src="images/companyia/companyia_01-2x.jpg" alt="Compañia Planeta Impro títulos">
	
	<article id="companyia_bio">
		<div id="companyia_img">
			<img src="images/companyia/companyia_02-1x.jpg" alt="Compañia Planeta Impro títulos">
		</div>
		<p>Planeta Impro inicia su camino en 2001, de la mano de Jose L. Adserías y Judit Martín, pioneros de la técnica de <strong>Impro en Barcelona</strong>.</p> 
		<p>La investigación constante en la técnica de Improvisación Teatral ha permitido que la compañía encuentre un lenguaje propio donde se combina la frescura, espontaneidad y diversión innatas en la Impro, con historias llenas de vida y emociones. Así convierten en entretenimiento el arte de vivir en el momento. Un trabajo riguroso que les ha convertido en el <strong><span class="caracters-especials">«</span>fenómeno impro<span class="caracters-especials">»</span></strong> en Barcelona.</p>
		<p>Actualmente <strong>Planeta Impro</strong> lleva 12 años consecutivos en cartelera. Y desde 2004 y hasta la actualidad, están programados en el <strong>Teatreneu</strong>, del barrio de Gracia (BCN).</p> 
		<p>Liderados por Jose L. Adserías han desarrollado más de 10 espectáculos, de los que han realizado más de 3.800 funciones tanto a nivel nacional como internacional y ya superan el <strong>millón de espectadores</strong>.</p>
	</article>

	<article id="critica">
		<div>
			<h2>La crítica</h2>
			<blockquote>Con pocos elementos, básicamente la palabra y la agilidad mental, circula desde hace años el PLANETA IMPRO. Lo que hacen impresiona y divierte.</blockquote> <cite>— ANIMA, CANAL 33</cite>
		</div>
		<div>
			<h2 class="titol_secundari">La crítica</h2>
			<blockquote>Hace falta una singular mezcla de talento, intuición y (sana) desvergüenza para convertir la improvisación teatral en algo más que un desmadrado happening. En Planeta Impro, lo importante es la ejecución, el talento para la improvisación que los actores demuestran sobre el escenario.</blockquote> <cite>— GUIA DEL OCIO</cite>
		</div>
		<div>
			<h2 class="titol_secundari">La crítica</h2>
			<blockquote>Planeta Impro son maestros de la pura invención cómica en directo.</blockquote><cite>— EL PAÍS</cite>
		</div>
	</article>
</section>	

<section id="membres">
	<h2>Miembros</h2>
	<ul>
		<li>
			<img src="images/companyia/companyia_jose-1x.jpg" alt="Jose L. Adserías">
			<h2>Jose L. Adserías</h2>
			<p>Director / Improvisador</p>
		</li>
		<li>
			<img src="images/companyia/companyia_angel-1x.jpg" alt="Angel Galán">
			<h2>Angel Galán</h2>
			<p>Ayudante de dirección / Improvisador</p>
		</li>
		<li>
			<img src="images/companyia/companyia_alejandra-1x.jpg" alt="Alejandra Jiménez-Cascón">
			<h2>Alejandra Jiménez-Cascón</h2>
			<p>Improvisadora</p>
		</li>
		<li>
			<img src="images/companyia/companyia_beatriu-1x.jpg" alt="Beatriu Castelló">
			<h2>Beatriu Castelló</h2>
			<p>Improvisadora</p>
		</li>
		<li>
			<img src="images/companyia/companyia_franco-1x.jpg" alt="Franco Andrea Maestrini">
			<h2>Franco Andrea Maestrini</h2>
			<p>Improvisador</p>
		</li>
		<li>
			<img src="images/companyia/companyia_jordi-1x.jpg" alt="Jordi Soriano">
			<h2>Jordi Soriano</h2>
			<p>Improvisador</p>
		</li>
		<li>
			<img src="images/companyia/companyia_joseperez-1x.jpg" alt="Jose Pérez-Ocaña">
			<h2>Jose Pérez-Ocaña</h2>
			<p>Improvisador</p>
		</li>
		<li>
			<img src="images/companyia/companyia_judit-1x.jpg" alt="Judit Martín">
			<h2>Judit Martín</h2>
			<p>Improvisadora</p>
		</li>
		<li>
			<img src="images/companyia/companyia_miquel-1x.jpg" alt="Mireia Scatti">
			<h2>Miquel Simó</h2>
			<p>Improvisador</p>
		</li>
		<li>
			<img src="images/companyia/companyia_mireia-1x.jpg" alt="">
			<h2>Mireia Scatti</h2>
			<p>Improvisadora</p>
		</li>
		<li>
			<img src="images/companyia/companyia_monica-1x.jpg" alt="Mónica Ballesteros">
			<h2>Mónica Ballesteros</h2>
			<p>Improvisadora</p>
		</li>
		<li>
			<img src="images/companyia/companyia_sam-1x.jpg" alt="Sam Gutiérrez">
			<h2>Sam Gutiérrez</h2>
			<p>Improvisadora</p>
		</li>
		<li>
			<img src="images/companyia/companyia_sandra-1x.jpg" alt="Sandra de la Prada">
			<h2>Sandra de la Prada</h2>
			<p>Iluminación y sonido / diseño gráfico</p>
		</li>
		<li>
			<img src="images/companyia/companyia_sonia-1x.jpg" alt="Sònia Pardo">
			<h2>Sònia Pardo</h2>
			<p>Iluminación y sonido / desarrollo web</p>
		</li>
		<li>
			<img src="images/companyia/companyia_eva-1x.jpg" alt="Eva Adserías">
			<h2>Eva Adserías</h2>
			<p>Producción y comunicación</p>
		</li>
		<li>
			<img src="images/companyia/companyia_marina-1x.jpg" alt="Marina Martori">
			<h2>Marina Martori</h2>
			<p>Ayudante de producción y comunicación</p>
		</li>
		<li>
			<img src="images/companyia/companyia_marisa-1x.jpg" alt="Marisa Regalado">
			<h2>Marisa Regalado</h2>
			<p>Vestuario</p>
		</li>
		<li>
			<img src="images/companyia/companyia_espaliat-1x.jpg" alt="Alejandra Espaliat">
			<h2>Alejandra Espaliat</h2>
			<p>Fotografía</p>
		</li>
		<li>
			<img src="images/companyia/companyia_laura-1x.jpg" alt="Laura Fermentino">
			<h2>Laura Fermentino</h2>
			<p>Vídeo</p>
		</li>				
	</ul>
</section>