---
title: Eventos Planeta Impro
---
<article id="eventos">
	<h2>eventos</h2>
	<p class="construccio">Este apartado de la web se está improvisando. En breve estará operativo. <br>Si necesitas información <a href="contacte.html">contacta</a> con nosotros.<br>	Y recuerda que puedes seguirnos en facebook y twitter y volver a visitarnos pronto</p>
	<img class="img-construccio" src="images/construccion.jpg">
</article>