---
title: Impro Show, Planeta Impro
---
<div id="espectacle">
	<p class="ruta"><a href="espectacles.html">Espectáculos</a> > Impro Show</p>
	<section id="info">
		<header id="nom_espectacle">
			<h2 class="titol-header">Impro Show</h2>
			<div id="imatges" class="flexslider">
				<ul class="slides">
					<li><img src="images/improshow/01_impro_show_1x.jpg" alt="Impro Show"></li>
					<li><img src="images/improshow/02_impro_show_1x.jpg" alt="Impro Show"></li>
					<li><img src="images/improshow/03_impro_show_1x.jpg" alt="Impro Show"></li>
					<li><img src="images/improshow/04_impro_show_1x.jpg" alt="Impro Show"></li>
					<li><img src="images/improshow/05_impro_show_1x.jpg" alt="Impro Show"></li>
					<li><img src="images/improshow/06_impro_show_1x.jpg" alt="Impro Show"></li>
					<li><img src="images/improshow/07_impro_show_1x.jpg" alt="Impro Show"></li>
					<li><img src="images/improshow/08_impro_show_1x.jpg" alt="Impro Show"></li>
				</ul>
			</div>
		</header>
				
		<div id="horari">
			<h2 class="titol">Impro Show</h2>
			<p>Jueves a las 21.00 h, sábado a las 21.30 h y domingo a las 19 h. Teatreneu</p>
		</div>

		<div class="accions" data-category="actions">
			<span class="accio_compra" data-action="compra"><a href="http://teatreneu.com/impro-landing.php?utm_source=blink_we&utm_medium=fbk&utm_content=impros&utm_campaign=impros_semana_loca" target="blank">Comprar entradas</a></span>
			<span class="accio_contracta"><a href="contacto.html">Contratar</a></span> 
		</div> 
			
		<article id="sinopsi">
			<p>¡Divertido, sorprendente e imprevisible, porque todo es posible en 3, 2, 1… impro!</p>
			<p>Un espectáculo diferente y único en cada función, donde el público tiene mucho que aportar, ya que los actores salen al ruedo <strong>sin guión</strong> y a partir de las sugerencias del público, crearán en directo escenas improvisadas con el <strong>humor espontáneo</strong> que los caracteriza.</p> 
			<p>La estructura y dinámica del espectáculo desafía a los improvisadores, que demostrarán sus dotes interpretativas, creatividad y fantasía, manteniendo una conexión constante con el público, en un espectáculo de humor que fusiona texto, gesto, canto... e ingeniosa habilidad para entrelazar los hilos de la escena de una forma espontánea.</p>
		</article>
		
		<article id="critica">
			<div>
				<h2>La crítica</h2>
				<blockquote>Un grupo de actores que no sólo consiguen hacer reír al público con sus improvisadas historias, sino que se han visto monumentales ataques de risa... Viendo la soltura con la que improvisan, cuesta creerlo.<cite>— GUIA DEL OCIO</cite></blockquote>	
			</div>				

			<div>
				<h2>El público</h2>						
				<blockquote>Es diferente! Tú formas parte del espectáculo sin levantarte de la silla. Dinámico y divertido. La improvisación no disminuye la profesionalidad de los actores al contrario la aumenta.<cite>— Yolanda</cite></blockquote> 
			</div>

			<div>
				<h2 class="titol_secundari">El público</h2>	
				<blockquote>Un show diferente cada noche, imaginación al poder. Diversión durante toda la obra!!! Lo recomendamos!!! <cite>— Ariadna</cite></blockquote>
			</div>	
		</article>
	</section>

	<aside>
		<div id="cartell">
			<img src="images/improshow/cartell_ish.png" alt="Cartel Impro Show">
		</div>
		<article id="fitxa">
			<h3>Ficha artística</h3>
			<ul>
				<li><strong>Creación y producción:</strong> Planeta Impro</li>
				<li><strong>Dirección:</strong> José Luís Adserías y Angel Galán</li>
				<li><strong>Elenco:</strong> Alejandra Jiménez-Cascón, Angel Galán, Franco Andrea Maestrini, Jordi Soriano, Jose L. Adserías, Jose Pérez-Ocaña, Judit Martín, Miquel Simó, Mireia Scatti, Mónica Ballesteros y Sam Gutiérrez</li>							
				<li><strong>Iluminación y sonido:</strong> Sònia Pardo y Sandra de la Prada<li>
				<li><strong>Diseño gráfico:</strong> Sandra de la Prada</li>
				<li><strong>Vestuario:</strong> Marisa Regalado</li>
				<li><strong>Escenografía:</strong> Planeta Impro</li>
				<li><strong>Fotografía:</strong> Alejandra Espaliat</li>
			</ul>
		</article>

		<div id="video">
			<a href="http://www.youtube.com/watch?v=1Z7oozcTqeY" class="popup-youtube"><img src="images/improshow/vp_impro_show_1x.jpg" alt="Impro Show"></a>
		</div>
	</aside>			
</div>

<!-- Slide -->
<script>
		$(window).load(function() {
		$('.flexslider').flexslider({
			slideshowSpeed: 5000
		});
		//$('#imatges').flexslider('stop');
		});
</script>