---
title: Impro Show .CAT, Planeta Impro
---
<div id="espectacle">
	<p class="ruta"><a href="espectacles.html">Espectáculos</a> > Impro Show .CAT</p>
	<section id="info">
		<header id="nom_espectacle">
			<h2 class="titol-header">Impro Show .CAT</h2>
			<div id="imatges" class="flexslider">
				<ul class="slides">
					<li><img src="images/improshowcat/01_impro_show_cat_1x.jpg" alt="Presentación Impro Show .cat"></li>
					<li><img src="images/improshowcat/02_impro_show_cat_1x.jpg" alt="Impro Show .cat"></li>
					<li><img src="images/improshowcat/03_impro_show_cat_1x.jpg" alt="Impro Show .cat"></li>
					<li><img src="images/improshowcat/04_impro_show_cat_1x.jpg" alt="Impro Show .cat"></li>
					<li><img src="images/improshowcat/05_impro_show_cat_1x.jpg" alt="Impro Show .cat"></li>
					<li><img src="images/improshowcat/06_impro_show_cat_1x.jpg" alt="Impro Show .cat"></li>
					<li><img src="images/improshowcat/07_impro_show_cat_1x.jpg" alt="Impro Show .cat"></li>
					<li><img src="images/improshowcat/08_impro_show_cat_1x.jpg" alt="Impro Show .cat"></li>
					<!-- <li><a href="https://www.youtube.com/watch?v=0HOn61aVdzA" class="popup-youtube"><img src="images/improshowcat/v_impro_show_cat_1x.jpg" alt=" Impro Show .cat"></a></li> -->
				</ul>
			</div>
		</header>

		<div id="horari">
			<h2 class="titol">Impro Show .CAT</h2>
			<!-- <p>Viernes, 21.00 h. Teatreneu</p> -->
		</div>

		<div class="accions">
			<!-- <span id="accio_compra"><a href="#">Comprar entradas</a> -->
			<span class="accio_contracta2"><a href="contacte.html">Contratar</a></span> 		
		</div> 
	
		<article id="sinopsi">
			<p>Un espectáculo en catalán y dedicado a Cataluña, donde uno se ríe de si mismo y de todo lo que nos envuelve.</p>
			<p>A partir de los títulos y sugerencias del público, improvisarán escenas de humor tocando 7 temas de la actualidad y cultura catalana, en un espectáculo diferente y único en cada función.</p>
			<p>Des de el APM al 3/24, o los castellers… Que junto a las propuestas del público crearán una combinación explosiva de emociones y risas.</p>
			<p>¡Déjate sorprender en un espectáculo de humor donde el público también dice la suya!</p>
		</article>

		<article id="critica">
			<div>
				<h2>La crítica</h2>
				<blockquote>El resultado es una bomba de efectos comicamente mortíferas que demuestra de que manera el azar —combinado con gracia y salud actoral— puede superar el mejor de los guiones.</blockquote> <cite>— TIME OUT</cite>
			</div>
			<div>
				<h2>El público</h2>
				<blockquote>Me ha gustado mucho. Muchísimo. He reído como nunca.</blockquote> <cite>— Mariona</cite>
			</div>
			<div>
				<h2 class="titol_secundari">El público</h2>
				<blockquote>Los actores son fantásticos. Nunca se quedan en blanco. Es increíble lo que sacan de las frases del público. </blockquote> <cite>— Laura</cite>
			</div>
		</article>
	</section>

	<aside>
		<div id="cartell">
			<img src="images/improshowcat/cartell_iscat.gif" alt="cartel Impro Show .cat">
		</div>
		<article id="fitxa">
			<h3>Ficha artística</h3>
			<ul>
				<li><strong>Creación y producción:</strong> Planeta Impro</li>
				<li><strong>Dirección:</strong> José Luís Adserías y Angel Galán</li>
				<li><strong>Elenco:</strong> Alba Florejachs, Beatriu Castelló, Jordi Soriano, Jose Pérez-Ocaña, Judit Martín, Miquel Simó, Mireia Scatti, Mónica Ballesteros y Sam Gutiérrez</li>
				<li><strong>Iluminación y sonido:</strong> Sònia Pardo y Sandra de la Prada<li>
				<li><strong>Diseño gráfico:</strong> Sandra de la Prada</li>
				<li><strong>Vestuario:</strong> Marisa Regalado</li>
				<li><strong>Escenografía:</strong> Planeta Impro</li>
				<li><strong>Fotografía:</strong> Alejandra Espaliat</li>
			</ul>
		</article>
		<div id="video">
			<a href="https://www.youtube.com/watch?v=0HOn61aVdzA" class="popup-youtube"><img src="images/improshowcat/vp_impro_show_cat_1x.jpg" alt="Impro Show .cat"></a>
		</div>
	</aside>			
</div>

<!-- Slide -->
<script>
	$(window).load(function() {
 		$('.flexslider').flexslider({
 			slideshowSpeed: 5000
 		});
 		//$('#imatges').flexslider('stop');
	});
</script>